# Project - Pyhton 1: Self-Service Cashier App

## Create Class "Transaction" and Its Methods

In [932]:
class Transaction:
    
    # Function to iniate the class object containing an "order" dictionary
    def __init__(self):
        order = {}
        self.order = order
        self.show_order_table()
        
    
    # Function to display the shopping items and price as a table
    def show_order_table(self):
        self.column_spacing = "|{:<4}|{:<12}|{:>12}|{:>12}|{:>12}|"
    
        # Print the table header
        print(self.column_spacing.format('No','Nama Item','Jumlah Item','Harga/Item','Harga Total'))
        
        n = 1
        for key, value in self.order.items():
            no = n 
            item_name = key
            item_qty = value[0]
            item_price = value[1]
            amount = item_qty * item_price
            
            # Print the defined variables
            print(self.column_spacing.format(no, item_name, item_qty, item_price, amount))
            n += 1
        
    
    # Function to add a new key and values to the transaction Dictionary
    def add_item(self, item_name, item_qty, item_price):
        self.item_name = item_name
        self.item_qty = item_qty
        self.item_price = item_price
        
        self.order[self.item_name] = [self.item_qty, self.item_price]
        self.show_order_table()
        
        
    # Function to change the key name of an order item
    def update_item_name(self, item_name, new_item_name):
        self.item_name = item_name
        self.new_item_name = new_item_name
        
        self.order[self.new_item_name] = self.order[self.item_name] # Duplicate the old key to the new one
        del self.order[self.item_name] # Delete the old key
        self.show_order_table()
        
    
    # Function to change the quantity of an order item
    def update_item_qty(self, item_name, new_item_qty):
        self.item_name = item_name
        self.new_item_qty = new_item_qty
        
        self.order[self.item_name][0] = self.new_item_qty
        self.show_order_table()
        
    
    # Function to change the price of an order item
    def update_item_price(self, item_name, new_item_price):
        self.item_name = item_name
        self.new_item_price = new_item_price
        
        self.order[self.item_name][1] = self.new_item_price
        self.show_order_table()
        
    
    # Function to delete an order item (its key and values)
    def delete_item(self, item_name):
        self.item_name = item_name
        
        del self.order[self.item_name]
        self.show_order_table()
        
    
    # Function to delete all order items
    def reset_transaction(self):
        order = {}
        self.order = order
        self.show_order_table()
    
    
    def check_order(self):
        for key, value in self.order.items():
            item_name = key
            item_qty = value[0]
            item_price = value[1]
            
            if type(item_name) == str and type(item_qty) == int and type(item_price) == int:
                print(f"[v] {item_name :<12}: data sudah sesuai.")           
            else:
                if type(item_name) != str:
                    print(f"[x] {item_name :<12}: nama barang harus berupa teks.")
                else:
                    pass   
                
                if type(item_qty) != int:
                    print(f"[x] {item_name :<12}: jumlah item harus berupa angka.")
                else:
                    pass

                if type(item_price) != int:
                    print(f"[x] {item_name :<12}: harga item harus berupa angka.")
                else:
                    pass
            
    
    
    # Function to calculate the total price of the order items
    def total_price(self):
        self.total_price = 0
        for value in self.order.values():
            item_qty = value[0]
            item_price = value[1]
            self.total_price += (item_qty * item_price)
            
        self.is_discounted(self.total_price)
        
    
    # Function to check whether a transaction gets a discount or not
    def is_discounted(self, total_price):
        self.total_price = total_price
        if self.total_price > 500000:
            is_discounted = True
            discount = "10%"
            discounted_price = total_price * (1 - 0.1)
        elif total_price > 300000:
            is_discounted = True
            discount = "8%"
            discounted_price = total_price * (1 - 0.08)
        elif total_price > 200000:
            is_discounted = True
            discount = "5%"
            discounted_price = total_price * (1 - 0.05)
        else:
            is_discounted = False
        
        if is_discounted == True:
            print(f"Total belanja Anda: Rp{total_price}.")
            print(f"Anda mendapat diskon {discount}.")
            print(f"Anda hanya perlu membayar: Rp{discounted_price}.")
        else:
            print(f"Total belanja Anda: Rp{total_price}.")
            print("Belanja di atas Rp200.000 untuk mendapat diskon.")

## Create a new object from the Class

In [933]:
trnsct_123 = Transaction()

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|

## Add item: Semangka x3 @15.000

In [934]:
trnsct_123.add_item("Semangka", 3, 15000)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Semangka    |           3|       15000|       45000|

In [935]:
print(trnsct_123.order)

{'Semangka': [3, 15000]}

## Add item: Kemoceng x2 @10.000

In [936]:
trnsct_123.add_item("Kemoceng", 2, 10000)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Semangka    |           3|       15000|       45000|
|2   |Kemoceng    |           2|       10000|       20000|

In [937]:
order_2 = Transaction()

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|

In [938]:
order_2.add_item("Keju", 2, 4000)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Keju        |           2|        4000|        8000|

In [939]:
print(order_2.order)

{'Keju': [2, 4000]}

In [940]:
print(trnsct_123.order)

{'Semangka': [3, 15000], 'Kemoceng': [2, 10000]}

## Update item name: Semangka -> Keju

In [941]:
trnsct_123.update_item_name("Semangka", "Keju")

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Keju        |           3|       15000|       45000|

## Update item qty: Keju x3 -> x5

In [942]:
trnsct_123.update_item_qty("Keju", 5)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Keju        |           5|       15000|       75000|

## Update item price: Keju @15.000 -> @25.000

In [943]:
trnsct_123.update_item_price("Keju", 25000)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Keju        |           5|       25000|      125000|

## Delete item: Keju

In [944]:
trnsct_123.delete_item("Keju")

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|

## Add several other items

In [945]:
trnsct_123.add_item("Sabun", 4, 5000)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Sabun       |           4|        5000|       20000|

In [946]:
trnsct_123.add_item("Odol", 3, 23000)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Sabun       |           4|        5000|       20000|
|3   |Odol        |           3|       23000|       69000|

In [947]:
trnsct_123.add_item(12345, 3, 17000)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Sabun       |           4|        5000|       20000|
|3   |Odol        |           3|       23000|       69000|
|4   |12345       |           3|       17000|       51000|

In [948]:
trnsct_123.add_item("Handuk", "2", 3000)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Sabun       |           4|        5000|       20000|
|3   |Odol        |           3|       23000|       69000|
|4   |12345       |           3|       17000|       51000|
|5   |Handuk      |           2|        3000|222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222|

In [949]:
trnsct_123.add_item("Deterjen", 5, "38000")

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Sabun       |           4|        5000|       20000|
|3   |Odol        |           3|       23000|       69000|
|4   |12345       |           3|       17000|       51000|
|5   |Handuk      |           2|        3000|222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222|
|6   |Deterjen    |           5|       38000|3800038000380003800038000|

## Check the order items data

In [950]:
trnsct_123.check_order()

[v] Kemoceng    : data sudah sesuai.
[v] Sabun       : data sudah sesuai.
[v] Odol        : data sudah sesuai.
[x] 12345       : nama barang harus berupa teks.
[x] Handuk      : jumlah item harus berupa angka.
[x] Deterjen    : harga item harus berupa angka.

## Correct the false order items

In [951]:
trnsct_123.update_item_name(12345, "Sikat gigi")

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Sabun       |           4|        5000|       20000|
|3   |Odol        |           3|       23000|       69000|
|4   |Handuk      |           2|        3000|222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222|
|5   |Deterjen    |           5|       38000|3800038000380003800038000|
|6   |Sikat gigi  |           3|       17000|       51000|

In [952]:
trnsct_123.update_item_qty("Handuk", 2)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Sabun       |           4|        5000|       20000|
|3   |Odol        |           3|       23000|       69000|
|4   |Handuk      |           2|        3000|        6000|
|5   |Deterjen    |           5|       38000|3800038000380003800038000|
|6   |Sikat gigi  |           3|       17000|       51000|

In [953]:
trnsct_123.update_item_price("Deterjen", 38000)

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|
|1   |Kemoceng    |           2|       10000|       20000|
|2   |Sabun       |           4|        5000|       20000|
|3   |Odol        |           3|       23000|       69000|
|4   |Handuk      |           2|        3000|        6000|
|5   |Deterjen    |           5|       38000|      190000|
|6   |Sikat gigi  |           3|       17000|       51000|

## Re-check the data

In [954]:
trnsct_123.check_order()

[v] Kemoceng    : data sudah sesuai.
[v] Sabun       : data sudah sesuai.
[v] Odol        : data sudah sesuai.
[v] Handuk      : data sudah sesuai.
[v] Deterjen    : data sudah sesuai.
[v] Sikat gigi  : data sudah sesuai.

## Get the total transaction cost

In [955]:
trnsct_123.total_price()

Total belanja Anda: Rp356000.
Anda mendapat diskon 8%.
Anda hanya perlu membayar: Rp327520.0.

## Reset Transaction

In [956]:
trnsct_123.reset_transaction()

|No  |Nama Item   | Jumlah Item|  Harga/Item| Harga Total|